body{
    font-family: sans-serif;
    color: black;

    background-image: url("imagenes/fondo.jpg");
    background-repeat: no-repeat;

    background-size: cover;
}
.cabecera{
    font-size: 4em;
    font-style: oblique;
    font-weight: 500;
    font-variant: inherit;
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    color:darkblue;
    text-shadow: midnightblue 2px 2px 4px;

}
.dvi{
    float: left;
}
.adrian {
    font-family: monospace;
    font-size: 2em;
    font-style: oblique;
    font-weight: 50;
    font-variant: inherit;
    text-align: left;
    text-decoration: inherit;
    color:darkblue;

}

.dani {
    font-family: monospace;
    font-size: 2em;
    font-style: oblique;
    font-weight: 50;
    font-variant: inherit;
    text-align: left;
    text-decoration: inherit;
    color:darkblue;
    

}

.img1 {
    float:left;
    margin:10px; 
    width:10%; 
    height:10%;


}

.img2 {
    float:left;
    margin:10px; 
    margin-top:20px;
    width:15%; 
    height:15%;



}

p {
    font-family: serif;
    font-size: 130%;
    text-transform: capitalize;

}

